<div class="contenedor-juego text-center">
  <h2 class="mt-2 fw-bold text-primary-emphasis">Mayor o Menor</h2>
  
  <p class="fs-5 text-danger-emphasis">Racha actual: <strong>{{ cant_aciertos() }}</strong></p>

  <div class="carta-imagen">
    <img [src]="'images/cartas/' + numeroActual() + '_' + paloActual() + '.png'" alt="Carta">
  </div>

  <p class="fs-3 mt-3 text-danger-emphasis">{{ mensaje() }}</p>

  <div *ngIf="!juegoTerminado()" class="botones-accion mt-3">
    <button (click)="hacerEleccion('menor')" class="btn btn-info fs-1 me-2 text-danger fw-bold"><i class="bi bi-arrow-down-circle-fill"></i> Menor</button>
    <button (click)="hacerEleccion('mayor')" class="btn btn-info fs-1 text-success fw-bold">Mayor <i class="bi bi-arrow-up-circle-fill"></i></button>
  </div>

  <button *ngIf="juegoTerminado()" (click)="reiniciarJuego()" class="btn btn-primary fs-4">Reiniciar Juego</button>
</div>