

<div class="d-flex justify-content-center align-items-center mt-4 mb-5">
<div class="bg-info p-4 rounded-5 text-secondary shadow" style="width: 30rem;">

    <div class="justify-content-center mt-3 mb-2 text-center">
        <img src={{alumno().avatar_url}} alt="img-user" class="border border-2 border-danger rounded-circle bg-white" style="height: 8rem; width: 8rem;">
    </div>

    <div class="text-danger text-center fs-1 fw-bold mb-4">{{ alumno().name }}</div>

    <p class="text-danger fs-4 mt-2"> <span class="fw-bold">ID:</span> {{ alumno().id }}</p>
    <p class="text-danger fs-4 mt-2"> <span class="fw-bold">Usuario:</span> {{ alumno().login }}</p>
    <p class="text-danger fs-4 mt-2"> <span class="fw-bold">Creado:</span> {{ alumno().created_at.toLocaleDateString() }}</p>

</div>
</div>

<hr>

<div class="d-flex justify-content-center align-items-center mt-5">
  <div class="bg-info p-4 rounded-5 shadow" style="width: 41rem;">
    <h1 class="text-center text-success-emphasis fw-bold">Juego Propio</h1>

    <div class="justify-content-center mt-3 mb-2 text-center">
        <img src="images/dados.avif" alt="img-dados" class="border border-2 border-success bg-white" style="height: 20rem; width: 28rem;">
    </div>
    <h3>Objetivo</h3>
    <p class="juego_texto">El objetivo del juego es acumular la mayor cantidad de puntos posible tras tres rondas lanzando dados. Gana el jugador que obtenga la suma total más alta de los valores obtenidos</p>

    <h3>Dinámica</h3>
    <ul class="juego_texto" style="list-style-type: circle;">
      <li>Cada jugador lanza sus dos dados una vez por ronda</li>
      <li>El jugador suma los números que salieron en ambos dados</li>
      <li>El puntaje de la ronda se anota y se acumula al total de las rondas anteriores</li>
    </ul>

    <h3>Ganador</h3>
    <ul class="juego_texto" style="list-style-type: circle;">
      <li>Al finalizar la tercera ronda, se calcula la suma total de los puntos acumulados por cada jugador a lo largo de todo el juego</li>
      <li>El jugador con el puntaje total más alto gana la partida</li>
      <li>Si ambos jugadores logran exactamente la misma suma total al final de las tres rondas, el juego termina en empate</li>
    </ul>
  </div>
  
  
</div>